html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background: #26353B;
  font-family: Arial!important;  
}
.image-holder {
  height: 56px;
  width: 300px;
  background-size: contain;
  margin: auto;
  margin-bottom: 10px;
}
.main-container {
  width: 75%;
  margin: 10px auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0px 5px rgba(0,0,0,.5);
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

.panel-heading {
  border-radius: 7px;
  font-size: 20px;
  background: #666!important;
  color: #2AABE2!important;
 
}
ul li{
  list-style: none;
  font-size: 18px;

}
footer {
  float: right;
}
